.cardimg{
    border-radius: 5%;
    width: auto;
    height: 300px;
    background-color:#e7d2ccb2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-p {
    font-family: 'Roboto', sans-serif;  
    font-size: 2.5rem;  
    font-weight: bold;  
    color: rgba(62, 69, 72, 0.8);  
      
}
.aa{
    font-size: large;
}
.logo-p::after {
    content: "";  
    display: block;  
    width: 0;  
    height: 4px;  
    background-color: rgba(62, 69, 72, 0.8);  
    margin: 10px auto 0;  
    border-radius: 2px;  
    animation: draw 1.7s forwards;  
}

@keyframes draw {
    to {
        width: 70%; /* Animasyon sonunda genişlik %50 olacak */
    }
}

 

.projedis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap :20px;
     
}


.projecard{
     

    width:350px;
    height: 450px;
    background-color:#EEEDE7 ;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    border: 1px solid #4d5555;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projecard:hover{
   
    transform: translate(-10px,-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 768px) {
    .projedis {
        flex-direction: column;  
        gap: 10px;  
    }

    .projecard {
        width: 90%;  
        max-width: none;  
        margin: 0 auto;  
    }
    
    
}

/* Daha küçük mobil ekranlar için */
@media only screen and (max-width: 480px) {
    .projecard {
        width: 100%;  
        padding: 10px;  
    }
     
}