.cardimg{
    border-radius: 5%;
    width: auto;
    height: 300px;
    background-color:#E7D2CC;
}


 

.projedis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap :20px;
     
}


.projecard{
     

    width:350px;
    height: 450px;
    background-color:#EEEDE7 ;
    border-radius: 5%;
    align-items: center;
    justify-content: center;

}
@media only screen and (max-width: 768px) {
    .projedis {
        flex-direction: column;  
        gap: 10px;  
    }

    .projecard {
        width: 90%;  
        max-width: none;  
        margin: 0 auto;  
    }
    
    
}

/* Daha küçük mobil ekranlar için */
@media only screen and (max-width: 480px) {
    .projecard {
        width: 100%;  
        padding: 10px;  
    }
     
}