 
.navbg {
   
   background-color:#B9B7BD !important;
    border: none;
}
.navbar-brand{
    font-size:xx-large;
    
}
.navbar-brand:hover{
    color: #4d5555;
    
}
.nav-link {
    font-size: large;
    color: #000;  
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
}

/*oluşturulan çubuk*/
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #000;  
    transition: width 1.7s ease;  
}
.nav-link:hover {
    
    color: #4d5555;  
    font-size: 1.3em; 
     
}
.nav-link:hover::after {
    width: 100%; /*  çubuğu genişletir */
}
 