.mainilt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color:#EEEDE7;
    margin: 0;
    width: 900px;
    height: 500px;
  
    border-radius: 5%;
    gap: 20px;
    border: 1px solid #4d5555;
}
.iltp{
  transition: text-decoration 0.8s ease;
}
.iltp:hover{
  text-decoration: underline;
}
.divv{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .hrp{
  width: 300px;
 }
  .infos{
    display: flex;
    flex-direction: row;
    justify-content: start ;
    align-items: baseline;
    width: 500px;
    height: auto;
   
    gap:20px;
    padding-left: 50px; 
  }

 
  @media (max-width: 900px) {
    .mainilt {
      
      width: 500px;
    }
  }
  
  @media (max-width: 480px) {
     
    .mainilt {
      width: auto;
      height: auto;
      padding: 10px;
    }
  }
  